
 <!-- loader Start -->
 <app-loader></app-loader>
 <!-- loader END -->
 <!-- Wrapper Start -->
 <div class="wrapper">
   <div class="flex">
       <!-- Sidebar  -->
       <div class="sidebar_content">
         <app-sidebar></app-sidebar>
       </div>

       <!-- TOP Nav Bar -->
       <app-header></app-header>
       <!-- TOP Nav Bar END -->

       <!-- Page Content  -->
       <div class="page_content">
         <router-outlet></router-outlet>
         <app-footer></app-footer>
       </div>
   </div>
 </div>
 <!-- Wrapper END -->
 <!-- Footer -->

 <!-- Footer END -->
 <!-- color-customizer -->
 <app-color-switcher></app-color-switcher>
