<div id="content-page" class="content-page">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <div class="text-center">
                    <h6> Revenue</h6>
                    <h2 class="mt-2"><b>19.8</b></h2>
                    <p class="mb-0 text-muted mt-3">
                       <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <div class="text-center">
                    <h6> Gross Margin</h6>
                    <h2 class="mt-2"><b>12.6</b></h2>
                    <p class="mb-0 text-muted mt-3">
                       <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <div class="text-center">
                    <h6> Ebitda</h6>
                    <h2 class="mt-2"><b>18.5</b></h2>
                    <p class="mb-0 text-muted mt-3">
                       <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <div class="text-center">
                    <h6> Working Capital</h6>
                    <h2 class="mt-2"><b>25.6</b></h2>
                    <p class="mb-0 text-muted mt-3">
                       <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <div class="text-center">
                    <h6> Capex</h6>
                    <h2 class="mt-2"><b>20.0</b></h2>
                    <p class="mb-0 text-muted mt-3">
                       <span class="badge badge-pill badge-danger mr-2"><i class="ri-arrow-down-fill"></i> 3.48%</span>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <div class="text-center">
                    <h6> Free Cash Flow</h6>
                    <h2 class="mt-2"><b>30.0</b></h2>
                    <p class="mb-0 text-muted mt-3">
                       <span class="badge badge-pill badge-danger mr-2"><i class="ri-arrow-down-fill"></i> 3.48%</span>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-lg-8">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">Profit/Loss</h4>
                 </div>
                 <div class="iq-card-header-toolbar d-flex align-items-center">
                    <div class="dropdown">
                       <span class="dropdown-toggle text-primary" data-toggle="dropdown">
                       <i class="ri-more-fill"></i>
                       </span>
                       <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                          <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                          <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                          <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="iq-card-body">
                 <div id="iq-chart-profitndloss"></div>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height banner-image-block-bg position-relative" style="background: transparent url(/assets/images/page-img/36.png) no-repeat scroll center bottom; background-size: contain; height: 455px; box-shadow: none;">
           </div>
        </div>
        <div class="col-lg-3 row m-0 p-0">
           <div class="col-md-4 col-lg-12">
              <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded">
                 <div class="iq-card-body">
                    <h6>Assets</h6>
                    <div class="text-center">
                       <h2>-108.56K</h2>
                       <p class="mb-0">Lorem ipsum dolor sit amet</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-lg-12">
              <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded">
                 <div class="iq-card-body">
                    <h6>Liabilities</h6>
                    <div class="text-center">
                       <h2>-425.20K</h2>
                       <p class="mb-0">Lorem ipsum dolor sit amet</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-lg-12">
              <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded">
                 <div class="iq-card-body">
                    <h6>Working Capital</h6>
                    <div class="text-center">
                       <h2>-380.40K</h2>
                       <p class="mb-0">Lorem ipsum dolor sit amet</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">Money Structure</h4>
                 </div>
                 <div class="iq-card-header-toolbar d-flex align-items-center">
                    <div class="dropdown">
                       <span class="dropdown-toggle text-primary" data-toggle="dropdown">
                       <i class="ri-more-fill"></i>
                       </span>
                       <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                          <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                          <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                          <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="iq-card-body">
                 <div id="iq-chart-money"></div>
              </div>
           </div>
        </div>
        <div class="col-lg-3">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                 <p class="mb-0">Accounts Payable</p>
                 <h4>5,124,000</h4>
                 <hr>
                 <div id="iq-chart-payble"></div>
              </div>
           </div>
        </div>
        <div class="col-md-12">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">Cash Management</h4>
                 </div>
                 <div class="iq-card-header-toolbar d-flex align-items-center">
                    <div class="dropdown">
                       <span class="dropdown-toggle text-primary" data-toggle="dropdown">
                       <i class="ri-more-fill"></i>
                       </span>
                       <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                          <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                          <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                          <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="iq-card-body">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="table-responsive">
                          <table class="table mb-0 table-borderless">
                             <tbody>
                                <tr>
                                   <td><img src="/assets/images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                   <td>USA</td>
                                   <td>2.820</td>
                                   <td>45.50%</td>
                                </tr>
                                <tr>
                                   <td><img src="/assets/images/small/flag-02.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                   <td>French</td>
                                   <td>1.690</td>
                                   <td>35.30%</td>
                                </tr>
                                <tr>
                                   <td><img src="/assets/images/small/flag-03.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                   <td>Spanish</td>
                                   <td>5.213</td>
                                   <td>52.36%</td>
                                </tr>
                                <tr>
                                   <td><img src="/assets/images/small/flag-04.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                   <td>Italian</td>
                                   <td>320</td>
                                   <td>5.50%</td>
                                </tr>
                                <tr>
                                   <td><img src="/assets/images/small/flag-05.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                   <td>German</td>
                                   <td>560</td>
                                   <td>4.50%</td>
                                </tr>
                                <tr>
                                   <td><img src="/assets/images/small/flag-06.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                   <td>Japanese</td>
                                   <td>450</td>
                                   <td>4.34%</td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div id="chartdiv" style="height: 300px; width: 100%;"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
